# Using Pandas

In [1]:
import pandas as pd
import numpy as np 
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [2]:


df.head(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [3]:
table = df.describe()
table

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [4]:
table.iloc[0,0]

35952.0

In [5]:
#df.value_counts(subset=None,dropna=True)
#df.value_counts(subset=None,dropna=False)

In [6]:
n_obs = len(list(df.value_counts(subset=None,dropna=False)))
n_obs

35952

In [7]:
df.head(5)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [23]:
#for i in range(0,10):
 #   df.loc[:,"Make"]
 #
makeBool = df['Make'].str.contains("Dutton", case=False) 
df.loc[makeBool, "Make"] = "Dutton"
df.Make.unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [ ]:
df["CO2 Emission Grams/Km"] = df["CO2 Emission Grams/Mile"] / 1.609
df.head(2)

In [9]:
# Create a binary column that solely indicates if the transmission of a car is automatic or manual
#df['Transmission'].unique()
transmBool = df['Transmission'].str.contains("manual", case=False) 
df.loc[transmBool, "TransBinary"] = "Manual"
transmBool = df['Transmission'].str.contains("auto", case=False) 
df.loc[transmBool, "TransBinary"] = "Automatic"

df.TransBinary.unique()

array(['Automatic', 'Manual'], dtype=object)

In [10]:
#convert MPG columns to km_per_liter
#City MPG	Highway MPG	Combined MPG
df["City KmPL"] = df["City MPG"] * 1.60934 / 3.78541
df["Highway KmPL"] = df["Highway MPG"] * 1.60934 / 3.78541
df["Combined MPG KmPL"] = df["Combined MPG"] * 1.60934 / 3.78541
df.iloc[:,10:].head(10)

,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransBinary,City KmPL,Highway KmPL,Combined MPG KmPL
0,18,17,17,522.764706,1950,Automatic,7.652571,7.227428,7.227428
1,13,13,13,683.615385,2550,Automatic,5.526857,5.526857,5.526857
2,16,17,16,555.437500,2100,Automatic,6.802286,7.227428,6.802286
3,13,13,13,683.615385,2550,Automatic,5.526857,5.526857,5.526857
4,14,21,16,555.437500,2550,Automatic,5.952000,8.928000,6.802286
5,20,26,22,403.954545,1500,Automatic,8.502857,11.053714,9.353143
6,22,28,24,370.291667,1400,Manual,9.353143,11.904000,10.203428
7,18,26,20,444.350000,1650,Automatic,7.652571,11.053714,8.502857
8,19,27,22,403.954545,1500,Automatic,8.077714,11.478857,9.353143
9,21,29,24,370.291667,1400,Manual,8.928000,12.329143,10.203428

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [11]:
# How many car makers are there? How many models? Which car maker has the most cars in the dataset?
df["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh',
       'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen',
       'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker',
       'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [12]:
np.size(df["Make"].unique())

127

In [13]:
np.size(df["Model"].unique())

3608

In [14]:
x = df["Make"].value_counts()
x[[0,0]]

Chevrolet    3643
Chevrolet    3643
Name: Make, dtype: int64

In [15]:
#When were these cars made? How big is the engine of these cars?
#df.loc["F150 Pickup 2WD","Make"]
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransBinary,City KmPL,Highway KmPL,Combined MPG KmPL
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,7.652571,7.227428,7.227428
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,5.526857,5.526857,5.526857

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [16]:
# When were these cars made?
df2 = df.loc[:,["Make", "Year"]]
df2 = df2.set_index('Make')
dfYear = df2.loc[df2.duplicated()]
dfYear

            Year
Make
AM General  1984
AM General  1985
Acura       1997
Acura       1997
Acura       1998
...          ...
smart       2013
smart       2014
smart       2015
smart       2016
smart       2016

[35918 rows x 1 columns]

In [17]:
# How big is the engine of these cars?
df.groupby('Make')['Engine Displacement'].mean().head(3)

Make
AM General          3.350000
ASC Incorporated    3.800000
Acura               2.834768
Name: Engine Displacement, dtype: float64

In [18]:
# What's the frequency of different transmissions, drivetrains and fuel types?
df["Transmission"].value_counts().head(3)

Automatic 4-spd    10585
Manual 5-spd        7787
Automatic (S6)      2631
Name: Transmission, dtype: int64

In [19]:
df["Drivetrain"].value_counts().head(3)

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
Name: Drivetrain, dtype: int64

In [20]:
df["Vehicle Class"].value_counts().head(3)

Compact Cars       5185
Subcompact Cars    4374
Midsize Cars       4063
Name: Vehicle Class, dtype: int64

In [21]:
# What's the car that consumes the least/most fuel?
fuel = list(df.groupby('Make')['Fuel Barrels/Year'].mean())
min(fuel)

6.359254842857142

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [22]:
df.head(1)
df4 = df[["Model", "CO2 Emission Grams/Mile"]]
df4.sort_values(by="CO2 Emission Grams/Mile", ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransBinary,City KmPL,Highway KmPL,Combined MPG KmPL
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,7.652571,7.227428,7.227428

          Model  CO2 Emission Grams/Mile
20897  Countach              1269.571429
20898  Countach              1269.571429
20896  Countach              1269.571429
20895  Countach              1269.571429
20894  Countach              1269.571429
...         ...                      ...
7917       Volt                51.000000
7916       Volt                51.000000
3070     i3 REX                40.000000
3069     i3 REX                40.000000
3071     i3 REX                37.000000

[35952 rows x 2 columns]

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [166]:
#df.TransBinary
fuel = list(df.groupby('Make')['CO2 Emission Grams/Mile'].mean())

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
35947    Automatic
35948    Automatic
35949    Automatic
35950    Automatic
35951       Manual
Name: TransBinary, Length: 35952, dtype: object

In [182]:
df.groupby('TransBinary')['CO2 Emission Grams/Mile'].mean()

TransBinary
Automatic    487.393450
Manual       450.161732
Name: CO2 Emission Grams/Mile, dtype: float64